@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");
$color-primary-dark: #1d3879;
$color-primary: #2d5bc4;
$font-heading: "Titillium Web", sans-serif;
$bp-xl: 75em; // 1200px
$bp-lg: 62.5em; // 1000px
$bp-md: 50em; // 800px;
$bp-sm: 37.5em; // 600px;
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 67.5%;
  box-sizing: border-box;
  @media only screen and (max-width: $bp-md) {
    font-size: 56.25%;
  }
}

body {
  font-family: OpenSans, sans-serif;
  font-size: 1.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

.container {
  // background: red;
  display: grid;
  grid-template-columns:
    minmax(11rem, 1fr) repeat(8, minmax(min-content, 14rem))
    minmax(11rem, 1fr);

  @media only screen and (max-width: $bp-xl) {
    grid-template-columns:
      minmax(5rem, 1fr) repeat(8, minmax(min-content, 14rem))
      minmax(5rem, 1fr);
  }
  @media only screen and (max-width: $bp-lg) {
    grid-template-columns:
      minmax(3.5rem, 1fr) repeat(8, minmax(min-content, 14rem))
      minmax(3.5rem, 1fr);
  }
}

.btn {
  border: 3px solid $color-primary-dark;
  background: $color-primary;
  color: #fff;
  border-radius: 8px;
  font-size: 1.9rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  position: absolute;
  top: 4.8rem;
  right: 15.2rem;
  z-index: 25;
  transition: all 0.2s ease-in;
  @media only screen and (max-width: $bp-xl) {
    top: 3.5rem;
    right: 8.2rem;
  }
  @media only screen and (max-width: $bp-lg) {
    top: 3rem;
    right: 4.2rem;
  }
}
