.content {
  grid-column: 3 / 10;
  margin-left: 6.8rem;
  padding-top: 15.2rem;
  overflow-y: scroll;
  position: relative;

  height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }
}
section {
  transition: all 0.2s linear;
}
.section-me {
  height: 100%;
}

.section-projects,
.section-about,
.section-skills {
  margin-bottom: 40rem;
}

.section-contact {
  margin-bottom: 11.5rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5.6rem;
  row-gap: 4rem;

  p {
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
  }
}
.logo {
  border: 3px solid $color-primary-dark;
  height: 14.9rem;
  width: 14.9rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
  &:hover {
    background: rgba($color-primary, 0.1);
  }
}

.projects {
  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 4.8rem;
    }
    &:last-child {
      margin-bottom: 8rem;
      padding-bottom: 1.6rem;
    }
  }

  &__img-container {
    position: relative;
    border: 3px solid $color-primary-dark;
    border-radius: 8px;
    margin-right: 2.7rem;
    min-width: 44.9rem;
    min-height: 29.9rem;
    overflow: hidden;
    &:hover .projects__tools {
      opacity: 1;
    }
    &:hover + .projects__desc h2 {
      color: $color-primary;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__tools {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.33rem;
    line-height: 1.5;
    font-weight: 600;
    word-spacing: 3px;
    letter-spacing: 0.3px;
    color: white;
    background: rgba($color-primary-dark, 0.7);
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h2 {
      font-size: 3.98rem;
      margin-bottom: 1.6rem;
      transition: all 0.2s ease-in;
    }
    p {
      font-size: 1.6rem;
      font-weight: 300;
      margin-bottom: 3.8rem;
    }
    a {
      &:not(:last-child) {
        margin-right: 2.4rem;
      }
      color: #000;
      font-weight: bold;
      font-size: 1.6rem;
      transition: all 0.2s ease-in;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.about {
  p {
    font-size: 2.4rem;
    line-height: 1.5;
    width: 80%;
    font-weight: 300;
  }
}

.me {
  &__heading {
    font-family: $font-heading;
    font-size: 4.77rem;
    font-weight: 700;
  }
  &__desc {
    font-weight: 300;
    font-size: 2.304rem;
    max-width: 50rem;
    line-height: 1.3;
  }
}
.about {
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-family: "OpenSans", sans-serif;
    font-size: 2.3rem;
    font-weight: 300;
    margin-bottom: 4.8rem;
  }
  p {
    font-size: 1.6rem;
    margin-left: 2.5rem;
  }
  .p-box {
    display: flex;
    align-items: flex-start;

    &:not(:nth-last-child(2)) {
      margin-bottom: 4.8rem;
    }
  }
  .socials {
    margin-top: 5.6rem;
    display: flex;
    margin-bottom: 6.7rem;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:not(:last-child) {
        margin-right: 4.3rem;
      }
    }
    span {
      font-size: 0.93rem;
      font-weight: bold;
      color: $color-primary-dark;
      margin-top: 8.3px;
    }
  }
}

.contact {
  h2 {
    text-decoration: underline;
    font-size: 4.8rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.9rem;
    font-weight: 300;
    width: 60rem;
    margin-bottom: 1.8rem;
  }
  form {
    display: flex;
    border: 3px solid $color-primary-dark;
    border-radius: 8px;
    flex-direction: column;
    padding: 1.8rem;
    width: 51.6rem;
    height: 42.6rem;
    & > *:not(:last-child) {
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
    }
    input {
      height: 4rem;
      padding: 0.9rem;
      border-radius: 5px;
      border: 3px solid $color-primary-dark;
    }
    textarea {
      height: 21rem;
      padding: 0.9rem;
      font-family: "OpenSans", sans-serif;
      border-radius: 5px;
      resize: none;

      border: 3px solid $color-primary-dark;

      &::placeholder {
        font-family: "OpenSans", sans-serif;
      }
    }
    button {
      height: 4rem;
      text-transform: uppercase;
      color: #fff;
      border: 3px solid $color-primary-dark;
      background: $color-primary-dark;
      border-radius: 5px;
      font-size: 1.9rem;
      font-weight: bold;
    }
  }
}
